.MessageBody {
   
    display: inline-block;
    height: auto; 
    min-width: 5%;
   
    font-size: 1.2rem;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 0.2rem; 
    padding-left:0.5rem ;
    padding-right:0.5rem ;
    margin-bottom: 0.5rem; 
    background-color: #f9f9f9; 
    position: relative; /* Add relative positioning */
}

.self{
    align-self: flex-end;
}

.message{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    max-width: 90%;
}


.author {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
    color: #007bff; /* Optional: Add color to the author's name */
}